@model CustomersTask.Models.CustomerMetaData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Addresses
    </div>
    <div class="panel-body">
        @Html.Action("GetAddressesPartial", new { id = Model.ID })
    </div>
</div>

<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
